@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SuperMario";
  src: url(/Fonts/Mario/SuperMario256.ttf);
}

:root {
  --color-primary: #f5cac3;
  --color-secondary: #fdfcdc;
  --color-background: #354f52;
  --border-radius-large: 40% 60% 70% 30% / 40% 40% 60% 50%;
  --border-radius-medium: 70% 30% 50% 50% / 30% 30% 70% 70%;
  --border-radius-small: 100% 60% 60% 100% / 100% 100% 60% 60%;
  --shadow-color: #4a4e69;
  --scrollbar-display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
  background-color: var(--color-background);
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
}

.overflow-hidden-web {
  overflow: hidden;
  -webkit-overflow: hidden;
}

#repulse-div {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 0 5rem var(--shadow-color));
  filter: drop-shadow(0 0 5rem var(--shadow-color));
}

#repulse-div>h1 {
  -webkit-filter: drop-shadow(0 0 5rem var(--shadow-color));
  filter: drop-shadow(0 0 5rem var(--shadow-color));
}

#journey-scroll::-webkit-scrollbar {
  display: var(--scrollbar-display);
}

#journey-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.arrowpath,
polyline {
  fill: none;
  stroke: #515152;
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
}

.arrowpath {
  stroke-dasharray: 11, 5;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blob {
  animation: morph 3.6s linear infinite;
  background: var(--color-primary);
  border-collapse: separate;
  background-size: cover;
  background-position: center;
  outline: 1px solid transparent;
}

@keyframes morph {

  0%,
  100% {
    border-radius: var(--border-radius-large);
  }

  34% {
    border-radius: var(--border-radius-medium);
  }

  67% {
    border-radius: var(--border-radius-small);
  }
}

.bounce {
  transition: all 0.3s ease-out;
}

.bounce:hover {
  display: inline-block;
  animation: rubberband 0.8s ease-out;
  color: var(--color-secondary);
}

@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }

  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }

  55% {
    transform: scaleX(0.85) scaleY(1);
  }

  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }

  75% {
    transform: scaleX(0.9) scaleY(1);
  }

  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@media only screen and (min-width: 600px) {
  .drop-shadow-div {
    -webkit-appearance: none;
    appearance: none;
    -webkit-filter: drop-shadow(0 0 1.5rem var(--color-secondary));
    filter: drop-shadow(0 0 1.5rem var(--color-secondary));
  }
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid #ecfdf4;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid;
  border-color: var(--color-secondary) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.display-container {
  display: flex;
}

.skill-container {
  display: flex;
  justify-content: start;
}

.skill-heading {
  font-size: 26px;
  padding-left: 24px;
  color: var(--color-secondary);
}

.skill-icons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-section .skill-tab {
  color: #212529;
  padding: 1rem;
  background-color: #a1a9b0;
  border-radius: 15%;
}

.skills-section .skill-tab .col-4 {
  flex: 0 0 auto;
  width: 25.333333%;
}


/* Contacts */

.social-links{
  display: flex;
    gap: 40px;
}

.social-icons{
      width: 50px;
        height: 50px;
}
